<a href="https://colab.research.google.com/github/MarthaKJ/Colab_demo/blob/main/Demo_Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

worksheet = gc.open('Your spreadsheet name').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

# Convert to a DataFrame and render.
import pandas as pd
pd.DataFrame.from_records(rows)

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
martha_data = pd.read_csv('/content/bse_dataset2.csv')
martha_data

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:
martha_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 11 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Timestamp                                           102 non-null    object
 1   What is your gender?                                102 non-null    object
 2   Age                                                 100 non-null    float64
 3   What is your emotion?                               101 non-null    object
 4   Year of birth                                       102 non-null    object
 5   What is your CGPA?                                  102 non-null    object
 6   Do you have a Girl Friend or BOY Friend             102 non-null    object
 7   Do you have Depression?                             102 non-null    object
 8   Do you have Anxiety?                                102 non-null    object
 9   Do you have Panic attack?                           102 non-null    object
 10  Did you have seek any specialist for a treatment?   102 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.9+ KB

# Mounting my Drive

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/bse_dataset2.csv')
df

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:
df.head()

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No

In [ ]:
df.tail()

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:
df.dropna()

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:
df.fillna("YES")

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:
df.drop_duplicates()

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:
df.rename(columns={"Age": "Student_Age", "Timestamp": "Time_Of_Registration" }, inplace=True)
df

,Time_Of_Registration,What is your gender?,Student_Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:
df.drop(columns=["What is your gender?", "Do you have Depression?"])

,Time_Of_Registration,Student_Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,21.0,Content,2002,4.22,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,45.0,Weird,2100,8.9,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,20.0,Happy,2002,3.98,No,Yes,Yes,No
3,05/07/2023 09:39:12,21.0,Happy,2003,4.37,No,No,No,Nope
4,05/07/2023 09:39:14,21.0,Happy,2002,3.63,No,No,No,No
...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,29.0,Grateful,2002,3.6,No,No,No,Nope
98,05/07/2023 09:59:18,21.0,Grateful,31/12/2001,2.88,Yes,Yes,No,No
99,05/07/2023 10:11:02,21.0,Yes,2002,3.2,No,Yes,No,No
100,05/07/2023 10:17:36,21.0,Sad,2002,5,Yes,No,No,No
101,05/07/2023 10:47:51,21.0,Sad,2002,4.6,Yes,Yes,Yes,No

In [ ]:
df_filtered = df[df['Student_Age'] < 22]
df_filtered

,Time_Of_Registration,What is your gender?,Student_Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
6,05/07/2023 09:39:21,female,21.0,irritated,2001,3.88,no,no,no,yes,yes
9,05/07/2023 09:39:27,Female,20.0,happy,2002,4,No,No,No,Yes,YES
11,05/07/2023 09:39:33,Female,21.0,Moody,2001,3.56,No,No,No,No,No
15,05/07/2023 09:39:46,Male,21.0,Jolly,2002,4.5,No,No,No,No,No
16,05/07/2023 09:39:46,Female,21.0,happy,2002,4.68,no,no,no,no,no
19,05/07/2023 09:39:50,Male,21.0,Sad,2002,3.76,No,No,No,No,No
20,05/07/2023 09:39:54,FEMALE,19.0,HAPPY,2004,2.1,YES,MAYBE,YES,NO,NO
23,05/07/2023 09:40:00,male,20.0,calm,2002,3.7,yes,no,no,no,no
24,05/07/2023 09:40:01,Female,21.0,sad,2001,3.8,no,no,yes,no,no
25,05/07/2023 09:40:02,Female,20.0,Happy,2022,4......,no,no,no,yes,no
26,05/07/2023 09:40:08,Male,21.0,sad,2002,3.6,no,no,no,no,no
28,05/07/2023 09:40:10,Female,21.0,Happy,2002,3.67,No,No,No,No,Yes
31,05/07/2023 09:40:13,Female,21.0,Nonchalant,2002,4.5,Yes,No,No,No,No
33,05/07/2023 09:40:25,male,21.0,stressed,2002,4.4,yes,no,yes,no,no
34,05/07/2023 09:40:26,Male,21.0,Relaxed,2001,4.5,No,No,No,No,No
38,05/07/2023 09:40:40,Female,21.0,Disgusted,2002,3.92,No,No,Yes,No,No
39,05/07/2023 09:40:42,male,21.0,happy,2002,3.87,yes,no,no,no,no
40,05/07/2023 09:40:42,Female,20.0,Tired,2002,1.3,No,No,No,Yes,No
41,05/07/2023 09:40:46,male,21.0,happy,2001,4.65,no,yes,yes,no,no
43,05/07/2023 09:40:54,Male,20.0,Sad,2001,4.74,Yes,Yes,No,No,No
44,05/07/2023 09:40:59,Male,21.0,sad,2002,4,no,no,no,no,no
45,05/07/2023 09:41:00,female,21.0,happy,2001,4.03,no,yes,yes,yes,no
49,05/07/2023 09:41:07,Male,19.0,angry,2004,2.5,no,none,none,none,yes
50,05/07/2023 09:41:08,Male,21.0,Happy,2001,2,No,No,Yes,No,No
52,05/07/2023 09:41:18,female,21.0,happy,2002,3.4,no,no,no,no,no
53,05/07/2023 09:41:19,Male,21.0,happy,2002,4.26,Yes,No,Yes,No,No
54,05/07/2023 09:41:20,Male,20.0,Lonely,2002,3.75,No,No,No,No,No
56,05/07/2023 09:41:30,Female,21.0,Happy,2002,3.4,No,Yes,No,Yes,No
58,05/07/2023 09:41:33,male,21.0,sleepy,2002,3.6,no,no,no,no,yes
59,05/07/2023 09:41:35,Female,21.0,tired,2002,3.85,no,no,sometimes,no,no
61,05/07/2023 09:41:40,Male,21.0,Sad,2002,4.46,No,Probably,Sometimes,No,No
62,05/07/2023 09:41:41,Female,21.0,Happy,2002,3.18,Yes,No,No,No,Yes
63,05/07/2023 09:41:42,male,21.0,unhappy,2002,1,no,yes,yes,no,no
64,05/07/2023 09:41:47,Female,21.0,Sad,2001,5,Am a girl,No,No,YesNo,No
65,05/07/2023 09:41:47,Female,21.0,Happy,2002,3.8,No,No,No,Yes,Yes
68,05/07/2023 09:42:04,Female,21.0,Happy,2002,3.66,No,No,No,No,No
70,05/07/2023 09:42:17,Female,21.0,Happy,2001,4,No,No,Yes,No,Yes
71,05/07/2023 09:42:39,Male,21.0,happy,2002,4.9,No,No,No,No,No
74,05/07/2023 09:43:05,Female,20.0,Happy,2002,4.2,No,No,No,No,No
75,05/07/2023 09:43:08,Male,21.0,happy,2002,4.5,yes,No,no,no,no
77,05/07/2023 09:43:36,female,20.0,care,2003,4.52,yes,no,swimming,no,no
78,05/07/2023 09:43:56,Male,21.0,NaN,2002,3.5,Yes,Nope,Nope,Nope,Nope
79,05/07/2023 09:44:09,Female,20.0,Afraid,2003,3.9,No,No,Yes,No,No
81,05/07/2023 09:44:15,Male,21.0,HAPPY,2002,3.8,NO,NO,NO,NO,NO
84,05/07/2023 09:45:38,Female,20.0,Sad,2003,3.5,No,No,No,No,No
86,05/07/2023 09:49:52,female,21.0,excited,2002,4.83,no,no,no,yes,no
88,05/07/2023 09:51:52,Female,20.0,happy,2002,4,no,no,no,no,no
89,05/07/2023 09:52:27,Female,21.0,Lonely,1st July 2002,3.3,No,No,No,No,No
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:
df.sort_values(by='Year of birth')

,Time_Of_Registration,What is your gender?,Student_Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
80,05/07/2023 09:44:14,Male,22.0,Scared,10th/04/2001,5,Yes,No,No,No,Yes
67,05/07/2023 09:41:58,Male,30.0,Sad,18/11/1993,2.5,yes,no,yes,no,yes
92,05/07/2023 09:53:56,Female,68.0,Sad,1953,4.8,No,Yes,Yes,Yes,Yes
48,05/07/2023 09:41:06,Male,50.0,Sad,1970,5,No,Jo,No,Yes,No
93,05/07/2023 09:54:13,Male,29.0,Hopeful,1994,I don't know yet,"Sure, multiple girlfriends",No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
25,05/07/2023 09:40:02,Female,20.0,Happy,2022,4......,no,no,no,yes,no
96,05/07/2023 09:54:52,male,30.0,hunger,2023,5,ARI,no,yeah,nah,yeah
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
72,05/07/2023 09:42:48,female,23.0,happy,5.10.2000,3,no,no,yes,no,no

In [ ]:
df["Year of birth"] = df["Year of birth"].str.strip()
df

,Time_Of_Registration,What is your gender?,Student_Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:


df['Time_Of_Registration'] = pd.to_datetime(df['Time_Of_Registration'], errors='coerce')
df

,Time_Of_Registration,What is your gender?,Student_Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,2023-05-07 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,2023-05-07 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,2023-05-07 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,2023-05-07 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,2023-05-07 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,2023-05-07 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,2023-05-07 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,2023-05-07 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,2023-05-07 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,2023-05-07 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

# New Section